*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Plus Jakarta Sans",sans-serif;

    background:#FCFBFF;

    color:#2D2A32;

}

button{

    font-family:inherit;

}

h1,h2,h3{

    font-family:"DM Sans",serif;
    font-weight:600;

}

a{

    color:inherit;
    text-decoration:none;

}