@media(max-width:1200px){

.dashboard-grid{

grid-template-columns:repeat(6,1fr);

}

.small,
.medium,
.large{

grid-column:span 6;

}

}

@media(max-width:900px){

.layout{

grid-template-columns:1fr;

}

.sidebar{

display:none;

}

.dashboard{

padding:25px;

}

.hero h1{

font-size:42px;

}

}